.menu {
  font-size: 5rem;
  margin-top: 25%;
  width: fit-content;
  margin-left: 7.5%;

  transform: translateY(-50%);
}

.names {
  position: absolute;
  left: 7.5%;
  top: 50px;
  height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
}
