:root {
  /* RGB values */
  --text-color: 64, 64, 64;
  --primary-color-blue: 0, 158, 255;
  --primary-color-purple: 89, 58, 154;

  --neutral-color: #ffffff;

  --primary-font: "Bebas Neue", sans-serif;
  --second-font: "Be Vietnam", sans-serif;

  --page-transition-offset: 45vw;

  --bg-gradient: rgb(var(--primary-color-blue)) 0%,
    rgb(var(--primary-color-purple)) 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
/* 




*/
/* -------- Same backgrounds colors with reverse directions --------  */
.bg_lr {
  background: linear-gradient(135deg, var(--bg-gradient));
}

.bg_rl {
  background: linear-gradient(315deg, var(--bg-gradient));
}
/* 




*/
/* -------- Some general classes to keep the style pattern -------- */
/* Titles */
.title {
  font-family: var(--primary-font);
  font-weight: 500;
}

.page_title {
  font-size: 5rem;
  width: fit-content;
  position: relative;
  color: rgb(var(--primary-color-purple));
}

.page_title_bg::before {
  content: "";
  display: block;
  position: absolute;

  height: 125%;
  transform: translateY(-14%); /* Eye adjustment to fit font-family height */

  background-color: var(--neutral-color);
  z-index: -1;
}

.page_title_bg-before::before {
  width: 65%;
  left: 0;
}

.page_title_bg-middle::before {
  width: 48%;
  left: 25%;
}

.page_title_bg-after::before {
  width: 48%;
  right: 0;
}

/* Simple Texts */
.text {
  font-family: var(--second-font);
  font-weight: lighter;
}

.text_white {
  color: var(--neutral-color);
}

.arrow_text {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.animated_title {
  transition: margin-left 1s, transform 500ms;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
}

.animated_title:hover {
  margin-left: 0.6em;
  transform: skewX(-5deg);
}

.animated_title::after {
  display: flex;
  position: absolute;
  bottom: 10px;
  content: "";
  height: 5px;
  background-color: white;
  width: 0;

  transition: 1s;
}

.animated_title:hover::after {
  width: 100%;
}
/* 




*/
/* -------- Pages transitions -------- */
.page {
  opacity: 0;
}

.slide_down {
  animation: slideDown 0.8s ease forwards 0.5s;
}

.slide_up {
  animation: slideUp 0.8s ease forwards 0.5s;
}

.slide_left {
  animation: slideLeft 0.8s ease forwards 0.5s;
}

.slide_right {
  animation: slideRight 0.8s ease forwards 0.5s;
}
/* 




*/
/* -------- Keyframes for pages transition -------- */
@keyframes slideDown {
  0% {
    transform: translateY(calc(-1 * var(--page-transition-offset)));
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(var(--page-transition-offset));
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(calc(-1 * var(--page-transition-offset)));
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(var(--page-transition-offset));
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
