:root {
  --text-color: 64, 64, 64;
  --primary-color-blue: 0, 158, 255;
  --primary-color-purple: 89, 58, 154;

  --primary-font: "Bebas Neue", cursive;
  --second-font: "Be Vietnam", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: var(--primary-font);
}

.text {
  font-family: var(--second-font);
}
